/*
1. header-title - h1~h6 p

*/

/*=================
	1. header-title - h1~h6 p
==================*/
body.woocommerce-page .pp-single-content h1{
		font-size:30px;
		line-height:37px;
		font-weight:600;
		color:#777;
}
body.woocommerce-page .pp-single-content h2{
		font-size:24px;
		line-height:33px;
		font-weight:600;
		color:#777;
}
body.woocommerce-page .pp-single-content h3{
		font-size:17px;
		line-height:22px;
		font-weight:600;
		color:#777;
}
body.woocommerce-page .pp-single-content h4{
		font-size:19px;
		line-height:26px;
		font-weight:500;
		color:#777;
}
body.woocommerce-page .pp-single-content h5{
		font-size:15px;
		line-height:23px;
		font-weight:600;
		color:#777;
}
body.woocommerce-page .pp-single-content h6{
		font-size:13px;
		line-height:20px;
		font-weight:500;
		color:#777;
}
body.woocommerce-page .pp-single-content p{
		font-size:13px;
		line-height:23px;
		font-weight:400;
		color:#999;
}


/*=================
	2. Button     jv-woo-button
==================*/

body.woocommerce-page .pp-single-content .jv-woo-button {
		border: 2px solid #4c9fcd;
		background: #4c9fcd !important;
		border-color: #4c9fcd !important;
		box-shadow: none;
		text-shadow: none !important;
		border-radius: 3px;
		padding:6px 30px;
}

/*=================
	2. Tabs      .jv-woo-tabs-lis  .jv-woo-tabs-title
==================*/

body.woocommerce-page .pp-single-content .jv-woo-tabs-list.active {
		background-color: #4c9fcd !important;
		border-bottom-color: #4c9fcd !important;
		color: #fff !important;
		border: none !important;
		text-shadow:none !important;
		box-shadow:none !important;
}
body.woocommerce-page .pp-single-content .jv-woo-tabs-list.active .jv-woo-tabs-title {
		color: #fff !important;
}
body.woocommerce-page .pp-single-content .jv-woo-tabs-title {
		background:none !important;
		background-color: none !important;
		border-bottom-color: none !important;
		color: #888 !important;
		border: none !important;
		text-shadow:none !important;
		box-shadow:none !important;
}


body.woocommerce-page .pp-single-content .jv-woo-tabs-list {
		background:#f4f4f4 !important;
		background-color: none !important;
		border-bottom-color: none !important;
		color: #888 !important;
		border: none !important;
		text-shadow:none !important;
		box-shadow:none !important;
}
body.woocommerce-page .pp-single-content .jv-woo-tabs-list:after {display:none;}
body.woocommerce-page .pp-single-content .jv-woo-tabs-list:before {display:none;}

/*reviews*/

body.woocommerce-page .pp-single-content #respond h3#reply-title {
		font-size: 24px;
		line-height: 33px;
		font-weight: 600;
		color: #777;
} 
body.woocommerce-page .pp-single-content #review_form_wrapper {
		margin: 1.714285714rem 0;
}
body.woocommerce-page .pp-single-content #respond form {
		border: 1px solid #eee;
		padding: 20px;
}
body.woocommerce-page .pp-single-content #respond p.stars span a {
		border:none;
		margin-right: 2%;
}
body.woocommerce-page .pp-single-content #respond p.form-submit .submit {
		border: 2px solid #4c9fcd;
		background: #4c9fcd !important;
		border-color: #4c9fcd !important;
		box-shadow: none;
		text-shadow: none !important;
		border-radius: 3px;
		padding:6px 30px;
}


/*=================
	3. woo single page header
==================*/

body.woocommerce-page h1.custom-header {
		border-bottom: 5px solid #eee;
		border-top: 5px solid #eee;
		height: 100px;
		line-height: 90px;
		font-size:30px;
		font-weight:600;
		color:#777;
}

/*=================
	4. woo single content
==================*/
body.woocommerce-page .pp-single-content  {
		margin-top:50px;
}
body.woocommerce-page .pp-single-content  .jvwoo-product_title-wrap .product_title {
		display: inline-block;
}
body.woocommerce-page .pp-single-content  .jvwoo-product_title-wrap .woocommerce-product-rating {
		display: inline-block;
		font-size: 13px;
		float: right;
}
body.woocommerce-page .pp-single-content  .jvwoo-product_title-wrap .woocommerce-product-rating .woocommerce-review-link {
		display:none;
}

